@model IEnumerable<TableReservation.Models.Reservation>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Customer> SignInManager
@inject UserManager<Customer> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    h1 {
        
    }
</style>
<h1>Index</h1>

<p>
    @if (SignInManager.IsSignedIn(User))
    {
        <a asp-action="Create">Create New</a>
    }
    else
    {
        <a asp-action="GCreate">Create New</a>
    }
</p>
@if (!SignInManager.IsSignedIn(User))
{
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Email: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
        </p>
    </div>
</form>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartySize)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ResDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartySize)
                </td>
                <td>
                    
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a asp-action="Edit" asp-route-id="@item.ResId">Edit</a>
                        
                    }
                    | <a asp-action="Details" asp-route-id="@item.ResId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ResId">Delete</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
