@model IEnumerable<TableReservation.Models.Reservation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartySize)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartySize)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ResId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ResId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ResId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
